<%= turbo_stream.append "policies", partial: "onboarding/policies/policy", locals: { policy: @policy } %>
<%= turbo_stream.update "get-started-button" do %>
  <div class="flex justify-center">
    <%= button_to "Get Started", complete_onboarding_policies_path, method: :post, class: "btn btn-primary btn-large" %>
  </div>
<% end %>
